@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.headerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 0 0 2rem;
}

.mainContainer {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;  
}

.boxLeft {
  width: 28%;
  animation: appearFromLeft 1s;

  h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
  }

  p {
    font-size: 1.25rem;
    font-family: Heebo, sans-serif;
    color: var(--gray-400);
    line-height: 1.875rem;
    margin-top: 2.5rem;
  }

  a {
    display: flex;
    justify-content: center;
    background: var(--orange-200);
    padding: 1.375rem 0;
    border-radius: 0.625rem;
    margin-top: 3rem;
    
    font-size: 1.125rem;
    font-family: Heebo, sans-serif;
    color: var(--white);

    transition: filter 0.2s; 
    
    &:hover {
      filter: brightness(0.8);
    }
  }
}

.boxRight {
  height: calc(100vh - 72px);
  overflow-y: hidden;
  padding-left: 2rem;

  animation: appearFromBottom 1s;

  width: 72%;
  display: flex;
  justify-content: center;

  .cardAreaLeft {
    margin-right: 2rem;
  }

  .cardAreaRight {
    margin-top: 5rem;
  }
}

.card {
  width: 300px;
  border-radius: 1.25rem;
  background: var(--white);
  border-bottom: 1.18px solid var(--blue-100);
  border-left: 1.18px solid var(--blue-100);
  border-right: 1.18px solid var(--blue-100);
  
  & + div {
    margin-top: 1.5rem;
  }
  
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
  }

  strong {
    display: block;
    padding: 1.625rem 0 0 1.625rem;
    font-size: 1.375rem;
    font-weight: 600;
  }

  span {
    display: block;
    padding: 0.5rem 0 1.625rem 1.625rem;

    font-size: 1rem;
    font-family: Roboto, sans-serif;
    color: var(--gray-400);
  }
}